{% extends 'customer/base.html' %}

{% block content %}
<div class="container-fluid mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-10 col-md-12">
            <div class="card shadow p-4">
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Menu</h2>

                    <!-- Appetizers -->
                    <div class="menu-section">
                        <h4 class="section-title">Appetizers</h4>
                        <div class="row">
                            {% for app in appetizers %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item mb-4">
                                    <img class="rounded" src="{{ app.image.url }}" alt="{{ app.name }}" width="150" height="100"/>
                                    <div class="item-details">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                            <label class="form-check-label">{{ app.name }}</label>
                                        </div>
                                        <p class="font-weight-bold">{{ app.price }}</p>
                                        <p>{{ app.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Entrees -->
                    <div class="menu-section">
                        <h4 class="section-title">Entrees</h4>
                        <div class="row">
                            {% for entre in entres %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item mb-4">
                                    <img class="rounded" src="{{ entre.image.url }}" alt="{{ entre.name }}" width="150" height="100"/>
                                    <div class="item-details">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                            <label class="form-check-label">{{ entre.name }}</label>
                                        </div>
                                        <p class="font-weight-bold">{{ entre.price }}</p>
                                        <p>{{ entre.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Desserts -->
                    <div class="menu-section">
                        <h4 class="section-title">Desserts</h4>
                        <div class="row">
                            {% for dessert in desserts %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item mb-4">
                                    <img class="rounded" src="{{ dessert.image.url }}" alt="{{ dessert.name }}" width="150" height="100"/>
                                    <div class="item-details">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                            <label class="form-check-label">{{ dessert.name }}</label>
                                        </div>
                                        <p class="font-weight-bold">{{ dessert.price }}</p>
                                        <p>{{ dessert.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Drinks -->
                    <div class="menu-section">
                        <h4 class="section-title">Drinks</h4>
                        <div class="row">
                            {% for drink in drinks %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item mb-4">
                                    <img class="rounded" src="{{ drink.image.url }}" alt="{{ drink.name }}" width="150" height="100"/>
                                    <div class="item-details">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                            <label class="form-check-label">{{ drink.name }}</label>
                                        </div>
                                        <p class="font-weight-bold">{{ drink.price }}</p>
                                        <p>{{ drink.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Customer Information -->
                    <div class="customer-info mt-5">
                        <h2 class="text-center mb-4">Customer Information</h2>
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input required class="form-control" type="email" placeholder="example@company.com" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="street">Street Address</label>
                            <input required class="form-control" type="text" placeholder="1234 Main St" name="street" />
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input required class="form-control" type="text" placeholder="San Francisco" name="city" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input required class="form-control" type="text" placeholder="CA" name="state" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="zip">Zip Code</label>
                                    <input required class="form-control" type="text" placeholder="94117" name="zip" />
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button type="button" class="btn btn-dark btn-block mt-4" data-toggle="modal" data-target="#submitModal">
                            Submit Order
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="submitModalLabel">Submit Your Order</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                                    <button type="submit" class="btn btn-dark">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
